@import "mixins";

.pull-left {float: left;}
.pull-right {float: right;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.clearfix {
	.clearfix();
}

@media (max-width: 767px) {}
@media (min-width: 768px) {}
