<div class='video col-md-4'>
	<h4><%- data.title %></h4>
	<iframe class='img-responsive' src="//player.vimeo.com/video/<%- data.id %>" width="<%- data.width %>" height="<%- data.height %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
